    html {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        font-weight: bold;
        box-sizing: border-box;
    }
    
    .header {
        background-color: rgb(245, 192, 155);
    }
    
    .navbar {
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        position: relative;
    }
    
    .logo {
        width: 150px;
    }
    
    .logo a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    
    .ul {
        flex: 1;
        text-align: right;
    }
    
    .ul a {
        list-style: none;
        display: inline-block;
        padding: 0px 20px;
        position: relative;
        text-decoration: none;
        color: #fff;
    }
    
    .wellcome {
        padding-left: 130px;
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .wellcome a {
        display: flex;
        direction: column;
        box-sizing: 200px;
        border-radius: 50%;
        border: 1px solid #fff;
        border-style: solid;
        border: circle;
        background-color: #fff;
        color: black;
        text-decoration: none;
        align-items: center;
    }
    
    .w1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0px;
        text-decoration: none;
        background-color: rgb(245, 192, 155);
    }
    
    .fa-chevron-circle-left {
        font-size: 45px;
        background-color: rgb(245, 192, 155);
        color: #fff;
        padding-bottom: 10px;
    }
    
    .fa-chevron-circle-right {
        font-size: 45px;
        background-color: rgb(245, 192, 155);
        color: #fff;
        padding-top: 10px;
    }
    
    .wellcome h1 {
        color: #fff;
        font-size: 44px;
    }
    
    .wellcome p {
        color: #fff;
        font-size: 16px;
    }
    
    .btn {
        padding-right: 396px;
    }
    
    .btn button {
        list-style-type: none;
        padding: 8px 35px;
        background-color: white;
        box-shadow: #fff;
        border-color: #fff;
        border-radius: 3px;
        color: rgb(230, 111, 111);
    }
    
    .image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 215px;
    }
    
    .image1 {
        width: 205px;
        height: 203px;
        background-color: white;
        border-radius: 154px;
    }
    
    .dot {
        text-align: center;
        justify-content: space-between;
    }
    
    .fa-ellipsis-h {
        color: #fff;
        font-size: 60px;
    }
    
    .product {
        background-color: #fff;
        margin: auto;
        text-align: center;
        color: rgb(223, 54, 54);
        padding-top: 5px;
        padding-bottom: 13px;
    }
    
    .product h1 {
        font-size: 47px;
    }
    
    .product p {
        color: black;
        font-size: 14px;
        font-weight: bold;
    }
    
    .espresso {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        padding-bottom: 36px;
        height: 350px;
    }
    
    .nav-image {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 16px;
        justify-content: space-between;
        font-weight: bold;
        position: relative;
        padding-top: 142px;
    }
    
    .nav-image a {
        font-size: 0px;
    }
    
    .image2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 100px;
    }
    
    .image2 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price2 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label2 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label2 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img2btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image2 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 456px;
    }
    
    .image3 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price3 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label3 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label3 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img3btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image3 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 805px;
    }
    
    .image4 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price4 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .label4 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label4 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img4btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image4 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 1148px;
    }
    
    .image5 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price5 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label5 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label5 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img5btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image5 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .empty-cells1 {
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .non-expresso {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        padding-bottom: 36px;
        height: 350px;
    }
    
    .non-expresso h2 {
        font-size: 25px;
    }
    
    .navnon {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        justify-content: space-between;
        position: relative;
        padding-top: 142px;
    }
    
    .navnon a {
        font-size: 0px;
    }
    
    .image6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 100px;
    }
    
    .image6 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price6 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label6 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label6 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img6btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image6 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 456px;
    }
    
    .image7 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price7 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label7 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label7 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img7btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image7 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image8 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 805px;
    }
    
    .image8 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price8 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label8 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label8 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img8btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image8 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image9 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 1148px;
    }
    
    .image9 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price9 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label9 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label9 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img9btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image9 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .empty-cells2 {
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .tea {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        padding-bottom: 34px;
        height: 324px;
    }
    
    .navtea {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        justify-content: space-between;
        padding-left: 110px;
        padding-right: 110px;
        position: relative;
    }
    
    .image10 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -7px;
        left: 164px;
    }
    
    .image10 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price10 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label10 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label10 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img10btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image10 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image11 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -7px;
        left: 623px;
    }
    
    .image11 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price11 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label11 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label11 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img11btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image11 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image12 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -7px;
        left: 1081px;
    }
    
    .image12 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price12 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label12 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label12 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img12btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image12 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .empty-cells3 {
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .treat {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        padding-bottom: 36px;
        height: 350px;
    }
    
    .navtreat {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        justify-content: space-between;
        position: relative;
        padding-top: 142px;
    }
    
    .navtreat a {
        font-size: 0px;
    }
    
    .image13 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 100px;
    }
    
    .image13 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price13 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label13 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label13 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img13btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image13 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image14 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 456px;
    }
    
    .image14 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price14 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label14 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label14 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img14btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image14 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image15 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 805px;
    }
    
    .image15 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price15 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label15 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label15 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img15btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image15 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .image16 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 1148px;
    }
    
    .image16 img {
        width: 256px;
        height: 238px;
        background-color: #fff;
    }
    
    .price16 {
        position: absolute;
        background-color: #675353;
        color: rgb(230, 111, 111);
        width: 93px;
        height: 63px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 29px;
        font-weight: bold;
        right: -10px;
        bottom: 250px;
    }
    
    .label16 {
        display: flex;
        padding-right: 10px;
        padding-top: 7px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .label16 label {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
    }
    
    .img16btn {
        padding-top: 6px;
        padding-right: 6px;
    }
    
    .image16 button {
        width: 80px;
        height: 24px;
        background-color: #fff;
        border: white;
        color: rgb(230, 111, 111);
        font-weight: bold;
    }
    
    .About {
        background-color: #fff;
        margin: auto;
        text-align: center;
        color: rgb(223, 54, 54);
        padding-top: 5px;
        padding-bottom: 13px;
    }
    
    .About h1 {
        font-size: 38px;
    }
    
    .About p {
        color: black;
        font-size: 14px;
    }
    
    .ntf {
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 0% 0%;
    }
    
    .ntfcont {
        padding-left: 89px;
        padding-top: 30px;
        padding-bottom: 46px;
    }
    
    .ntf h1 {
        font-size: 50px;
    }
    
    .ntf p {
        font-size: 18px;
    }
    
    .ntfbtn {
        padding-left: 196px;
        padding-top: 32px;
    }
    
    .ntf button {
        list-style-type: none;
        background-color: white;
        border-color: #fff;
        border-radius: 0px;
        color: rgb(230, 111, 111);
        font-size: 1.2em;
        width: 185px;
        height: 50px;
    }
    
    .ntfimage {
        flex: 1;
        padding-left: 298px;
        padding-top: 48px;
        padding-bottom: 61px;
    }
    
    .ntfimage img {
        width: 360px;
    }
    
    .testmonial {
        background-color: #fff;
        padding-top: 2px;
        padding-bottom: 5px;
        text-align: center;
        color: black;
        position: relative;
    }
    
    .testmonial h1 {
        font-size: 30px;
    }
    
    .poerson {
        background-color: #fff;
        padding: 2% 5%;
    }
    
    .person {
        align-items: center;
        position: relative;
    }
    
    .navslider {
        position: relative;
    }
    
    .pericon1 .pericon2 {
        cursor: pointer;
        transition: 0.6s ease;
        user-select: none;
        font-size: 0px;
    }
    
    .slideimg1 {
        display: none
    }
    
    img {
        vertical-align: middle;
    }
    
    .person1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: white;
        position: absolute;
        font-size: 14px;
        left: 235px;
        padding: 0px;
        background-color: rgb(245, 192, 155);
        width: 1082px;
        height: 297px;
    }
    
    .person1 img {
        width: 205px;
        height: 162px;
        border-radius: 50%;
        padding-top: 10px;
    }
    
    .pericon1 {
        padding-left: 8px;
        font-size: 0px;
    }
    
    .pericon2 {
        padding-right: 8px;
    }
    
    .contact {
        background-color: #fff;
        padding: 2% 5%;
        margin: auto;
        text-align: center;
        padding-top: 287px;
        color: rgb(223, 54, 54);
    }
    
    .contact h1 {
        font-size: 30px;
    }
    
    .contact p {
        color: black;
        font-size: 16px;
    }
    
    .registration {
        display: flex;
        padding-right: 185px;
        justify-content: space-between;
        align-items: center;
        text-align: initial;
        padding-left: 285px;
        padding-top: 109px;
        padding-bottom: 103px;
    }
    
    .form1 {
        background-color: #fff;
        width: 360px;
        height: 350px;
        position: relative;
    }
    
    .reglabel1 {
        padding-top: 50px;
        text-decoration: underline;
        color: black;
        padding-left: 40px;
    }
    
    .reglabel2 {
        padding-top: 18px;
        padding-left: 40px;
        text-decoration: underline;
        color: black;
    }
    
    .reglabel3 {
        padding-top: 18px;
        padding-left: 40px;
        text-decoration: underline;
        color: black;
    }
    
    .reglabel4 {
        padding-top: 18px;
        padding-left: 40px;
        text-decoration: underline;
        color: black;
    }
    
    .reglabel5 {
        padding-top: 0px;
        padding-left: 163px;
    }
    
    .reglabel5 button {
        height: 30px;
        width: 105px;
        background-color: rgb(249, 192, 155);
        border: transparent;
    }
    
    .regimage {
        width: 350px;
        height: 300px;
    }
    
    .regimage img {
        width: 360px;
        height: 350px;
    }
    
    .pol {
        background-color: #fff;
        position: relative;
        padding: 58px 167px;
    }
    
    .mail {
        background-color: rgb(265, 192, 155);
        position: absolute;
        padding-top: 31px;
        padding-bottom: 48px;
        padding-left: 50px;
        padding-right: 3px;
        top: -29px;
    }
    
    .poly {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
    }
    
    .polx {
        flex: 1;
        padding-left: 0px;
        padding-bottom: 10px;
        padding-top: 0px;
    }
    
    .polbtn {
        flex: -1;
        padding-left: 380px;
        padding-right: 10px;
        padding-top: 49px;
    }
    
    .polbtn input {
        width: 140px;
        height: 35px;
        border: transparent;
        color: rgb(218, 106, 106);
    }
    
    .polbtn button {
        width: 100px;
        height: 35px;
        border: transparent;
        background-color: rgb(218, 106, 106);
        color: #fff;
    }
    
    .mail h3 {
        color: #fff;
    }
    
    .address {
        text-align: center;
        background-color: rgb(245, 192, 155);
        padding: 0px 0px;
    }
    
    .address h2 {
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
        padding-top: 51px;
    }
    
    .addressicon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 60px;
        color: blue;
        padding: 5% 15%;
        align-items: center;
    }
    
    .addressicon .fa-map-marker {
        font-size: 40px;
        background-color: white;
        padding: 20px 20px;
    }
    
    .addressicon .fa-phone {
        font-size: 40px;
        background-color: white;
        padding: 20px 20px;
    }
    
    .addressicon .fa-envelope {
        font-size: 40px;
        background-color: white;
        padding: 20px 20px;
    }
    
    .addressicon h3 {
        color: rgb(29, 20, 20);
        text-align: initial;
        padding-left: 25px;
    }
    
    @media( max-width:700px) {
        .navbar {
            padding-left: 1px;
            font-size: 7px;
        }
        .ul a {
            padding-left: 3px;
            padding-right: 3px;
        }
        .logo a {
            font-size: 7px;
            padding-left: 2px;
        }
        .ul {
            flex: 1;
        }
        .wellcome {
            padding-left: opx;
            justify-content: space-between;
            align-items: center;
        }
        .w1 {
            padding-left: 2px;
        }
        .fa-chevron-circle-left {
            font-size: 10px;
            background-color: rgb(245, 192, 155);
            color: #fff;
            padding-bottom: 2px;
        }
        .fa-chevron-circle-right {
            font-size: 10px;
            background-color: rgb(245, 192, 155);
            color: #fff;
            padding-top: 5px;
        }
        .wellcome h1 {
            color: #fff;
            font-size: 14px;
        }
        .wellcome p {
            color: #fff;
            font-size: 4px;
        }
        .btn {
            padding-right: 58px;
            padding-left: 16px;
        }
        .btn button {
            list-style-type: none;
            background-color: white;
            border-color: 1px solid white;
            color: rgb(230, 111, 111);
            font-size: 5px;
            padding: 1px 1px;
        }
        .image {
            padding-right: 0px;
        }
        .image1 {
            width: 70px;
            height: 67px;
            background-color: white;
            border-radius: 50%;
        }
        .fa-ellipsis-h {
            color: #fff;
            font-size: 10px;
        }
        .product h1 {
            font-size: 15px;
        }
        .product p {
            color: black;
            font-size: 5px;
            font-weight: bold;
        }
        .espresso {
            padding: 0px 0px;
            height: 137px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .espresso h2 {
            font-size: 11px;
        }
        .nav-image {
            padding-right: 4px;
            padding-left: 4px;
            padding-bottom: 10px;
            padding-top: 42px;
            font-size: 8px;
        }
        .image2 {
            font-size: 10px;
            width: 63px;
            height: 80px;
            left: 22px;
        }
        .image2 img {
            width: 75px;
            height: 80px;
        }
        .price2 {
            left: 22px;
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 46px;
        }
        .label2 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label2 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img2btn {
            padding: 0px;
        }
        .image2 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image3 {
            font-size: 10px;
            width: 0px;
            height: 10px;
            left: 133px;
            top: 10px;
        }
        .image3 img {
            width: 75px;
            height: 80px;
        }
        .price3 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label3 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label3 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img3btn {
            padding: 0px;
        }
        .image3 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image4 {
            font-size: 10px;
            height: 10px;
            width: 0px;
            left: 211px;
            top: 10px;
        }
        .image4 img {
            width: 75px;
            height: 80px;
        }
        .price4 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label4 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label4 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img4btn {
            padding: 0px;
        }
        .image4 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image5 {
            font-size: 10px;
            width: 0px;
            height: 10px;
            left: 290px;
            top: 10px;
        }
        .image5 img {
            width: 75px;
            height: 80px;
        }
        .price5 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label5 {
            padding-top: 2px;
            padding-left: 11px;
        }
        .label5 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img5btn {
            padding: 0px;
        }
        .image5 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .non-expresso {
            padding-left: 5px;
            padding-right: 5px;
            align-items: center;
            padding-bottom: 24px;
            height: 137px;
        }
        .non-expresso h2 {
            font-size: 11px;
        }
        .navnon {
            padding-right: 4px;
            padding-left: 4px;
            padding-bottom: 10px;
            padding-top: 42px;
            font-size: 11px;
        }
        .image6 {
            font-size: 10px;
            width: 63px;
            height: 80px;
            left: 22px;
        }
        .image6 img {
            width: 75px;
            height: 80px;
        }
        .price6 {
            left: 22px;
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 46px;
        }
        .label6 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label6 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img6btn {
            padding: 0px;
        }
        .image6 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image7 {
            font-size: 10px;
            width: 0px;
            height: 10px;
            left: 133px;
            top: 10px;
        }
        .image7 img {
            width: 75px;
            height: 80px;
        }
        .price7 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label7 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label7 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img7btn {
            padding: 0px;
        }
        .image7 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image8 {
            font-size: 10px;
            height: 10px;
            width: 0px;
            left: 211px;
            top: 10px;
        }
        .image8 img {
            width: 75px;
            height: 80px;
        }
        .price8 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label8 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label8 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img8btn {
            padding: 0px;
        }
        .image8 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image9 {
            font-size: 10px;
            width: 0px;
            height: 10px;
            left: 290px;
            top: 10px;
        }
        .image9 img {
            width: 75px;
            height: 80px;
        }
        .price9 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label9 {
            padding-top: 2px;
            padding-left: 11px;
        }
        .label9 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img9btn {
            padding: 0px;
        }
        .image9 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .tea {
            padding: 0px 0px;
            height: 137px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .tea h2 {
            font-size: 11px;
        }
        .navtea {
            padding-right: 4px;
            padding-left: 4px;
            padding-bottom: 10px;
            padding-top: 42px;
            font-size: 8px;
        }
        .image10 {
            font-size: 10px;
            width: 63px;
            height: 80px;
            left: 34px;
            top: 4px;
        }
        .image10 img {
            width: 75px;
            height: 80px;
        }
        .price10 {
            left: 22px;
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 46px;
        }
        .label10 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label10 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img10btn {
            padding: 0px;
        }
        .image10 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image11 {
            font-size: 10px;
            width: 0px;
            height: 10px;
            left: 173px;
            top: 4px;
        }
        .image11 img {
            width: 75px;
            height: 80px;
        }
        .price11 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label11 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label11 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img11btn {
            padding: 0px;
        }
        .image11 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image12 {
            font-size: 10px;
            height: 10px;
            width: 0px;
            left: 280px;
            top: 4px;
        }
        .image12 img {
            width: 75px;
            height: 80px;
        }
        .price12 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label12 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label12 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img12btn {
            padding: 0px;
        }
        .image12 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .treat {
            padding: 0px 0px;
            height: 137px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .treat h2 {
            font-size: 11px;
        }
        .navtreat {
            padding-right: 4px;
            padding-left: 4px;
            padding-bottom: 10px;
            padding-top: 42px;
            font-size: 8px;
        }
        .image13 {
            font-size: 10px;
            width: 63px;
            height: 80px;
            left: 22px;
        }
        .image13 img {
            width: 75px;
            height: 80px;
        }
        .price13 {
            left: 22px;
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 46px;
        }
        .label13 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label13 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img13btn {
            padding: 0px;
        }
        .image13 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image14 {
            font-size: 10px;
            width: 0px;
            height: 10px;
            left: 133px;
            top: 10px;
        }
        .image14 img {
            width: 75px;
            height: 80px;
        }
        .price14 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label14 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label14 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img14btn {
            padding: 0px;
        }
        .image14 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image15 {
            font-size: 10px;
            height: 10px;
            width: 0px;
            left: 211px;
            top: 10px;
        }
        .image15 img {
            width: 75px;
            height: 80px;
        }
        .price15 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label15 {
            padding-top: 2px;
            padding-left: 10px;
        }
        .label15 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img15btn {
            padding: 0px;
        }
        .image15 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .image16 {
            font-size: 10px;
            width: 0px;
            height: 10px;
            left: 290px;
            top: 10px;
        }
        .image16 img {
            width: 75px;
            height: 80px;
        }
        .price16 {
            width: 25px;
            height: 18px;
            font-size: 10px;
            padding-top: 7px;
            top: -9px;
            left: 14px;
        }
        .label16 {
            padding-top: 2px;
            padding-left: 11px;
        }
        .label16 label {
            width: 43px;
            height: 13px;
            font-size: 6px;
        }
        .img16btn {
            padding: 0px;
        }
        .image16 button {
            width: 37px;
            height: 12px;
            font-size: 5px;
        }
        .About {
            padding-top: 1px;
            padding-bottom: 1px;
        }
        .About h1 {
            font-size: 14px;
        }
        .About p {
            font-size: 4px;
        }
        .ntfcont {
            padding-left: 27px;
            padding-top: 18px;
            padding-bottom: 0px;
        }
        .ntf h1 {
            font-size: 14px;
        }
        .ntf p {
            font-size: 5px;
        }
        .ntfbtn {
            padding-left: 0px;
            padding-top: 0px;
        }
        .ntf button {
            font-size: 8px;
            width: 85px;
            height: 29px;
        }
        .ntfimage {
            padding-left: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .ntfimage img {
            width: 110px;
            padding-left: 18px;
            padding-top: 11px;
        }
        .testmonial {
            padding-top: 1px;
            padding-bottom: 4px;
        }
        .testmonial h1 {
            font-size: 16px;
        }
        .testmonial p {
            font-size: 5px;
        }
        .poerson {
            background-color: #fff;
            padding: 0% 0%;
        }
        .person {
            padding: 0;
        }
        .person1 {
            font-size: 6px;
            left: 22px;
            width: 304px;
            height: 118px;
        }
        .person1 img {
            width: 76px;
            height: 77px;
            border-radius: 50%;
            padding-top: 0px;
        }
        .pericon1 {
            padding-left: 8px;
            font-size: 0px;
        }
        .pericon2 {
            padding-right: 8px;
        }
        .contact {
            padding: 2% 5%;
            padding-top: 113px;
        }
        .contact h1 {
            font-size: 16px;
        }
        .contact p {
            font-size: 5px;
        }
        .registration {
            padding-right: 20px;
            padding-left: 16px;
            padding-top: 0px;
            padding-bottom: 6px;
        }
        .regimage img {
            width: 144px;
            height: 144px;
            padding-top: 36px;
        }
        .form1 {
            width: 226px;
            height: 144px;
            font-size: 8px;
        }
        .reglabel1 {
            padding-top: 5px;
            padding-left: 5px;
        }
        .reglabel1 input {
            width: 48px;
            height: 12px;
        }
        .reglabel2 {
            padding-top: 5px;
            padding-left: 5px;
        }
        .reglabel2 input {
            width: 48px;
            height: 12px;
        }
        .reglabel3 {
            padding-top: 5px;
            padding-left: 5px;
        }
        .reglabel3 input {
            width: 48px;
            height: 12px;
        }
        .reglabel4 {
            padding-top: 5px;
            padding-left: 5px;
        }
        .reglabel4 input {
            width: 48px;
            height: 12px;
        }
        .reglabel5 {
            padding-top: 0px;
            padding-left: 50px;
        }
        .reglabel5 button {
            height: 15px;
            width: 41px;
            font-size: 6px;
        }
        .regimage {
            width: 350px;
            height: 215px;
        }
        .pol {
            padding: 14px 37px;
        }
        .mail {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            top: -20px;
        }
        .poly {
            padding-left: 0px;
        }
        .polx {
            padding-left: 9px;
            padding-bottom: 16px;
            padding-top: 9px;
            padding-right: 9px;
        }
        .polbtn {
            padding-left: 0px;
            padding-right: 9px;
            padding-top: 9px;
        }
        .polbtn input {
            width: 80px;
            height: 15px;
        }
        .polbtn button {
            width: 46px;
            height: 15px;
            font-size: 9px;
        }
        .mail h3 {
            font-size: 10px;
        }
        .mail p {
            font-size: 4px;
        }
        .address {
            padding: 0px 0px;
        }
        .address h2 {
            padding-top: 11px;
            font-size: 16px;
        }
        .addressicon {
            padding-top: 0px;
            padding-bottom: 20px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .addressicon .fa-map-marker {
            font-size: 25px;
            padding: 3px 4px;
        }
        .addressicon .fa-phone {
            font-size: 25px;
            padding: 3px 4px;
        }
        .addressicon .fa-envelope {
            font-size: 25px;
            padding: 3px 4px;
        }
        .addressicon h3 {
            padding-left: 1px;
            font-size: 5px;
        }
    }